@import url("./normalize.css");
@import url("./variables.css");
@import url("./fonts-loader.css");

hr {
  border-color: #00000014;
}

/* =========== COLUMNAS ====== */
/* Sistema de columnas */
.container-columns {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 90%;
}
.columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.columns-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.columns-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-20{
  gap: 20px;
}
.column-center{
  justify-items: center;
  justify-content: center;
}
.column-between{
  justify-content: space-between;
}
/* =========== COLUMNAS DE SELECCION ====== */
/* Sistema de columnas */
.container-columnselec {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 100%;
}
.elementor-container{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:var(--bg-principal);
  border: 2px solid #4c68af;
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
}
.elementor-container:hover{
  transition: all 0.5s ease-in-out;
  background-color: #4c68af;
  color: #f9ffff;
}
@media screen and (max-width: 42em) {
  .columns-3  {
    grid-template-columns: repeat(1, 1fr);
  }
  .columns-2{
    grid-template-columns: repeat(1, 1fr);
  }

}

/* =========== COMPONENTE ====== */
.box-counter {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  color: #d2d0d0;

  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box-counter strong {
  display: block;
  font-size: 36px;
}
.bc-azul {
  background-color: #43627f;
}
.bc-celeste {
  background-color: #72aed2;
}
.bc-bordo {
  background-color: #956678;
}
/* --- */

.form {
  background-color: #f9ffff;
  padding: 10px;
  box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.75);
}
.form form{
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.form form select,
.form form input {
  margin-bottom: 10px;
  border: 1px solid #cecece;
  padding: 3px 5px;
  width: auto;
}
.form .select-materia{
  display: grid;
  grid-template-columns: auto 30px;
  gap: 10px;
  align-items: center;
}
.form .select-materia select{
  height: 32px;
}
.form .select-materia button{
  background-color: transparent;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
}
.form .select-materia button img{
  width: 16px;
  height: 16px;
}
.form-buttons{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 10px auto;
}
.form h2 {
  font-size: 20px;
  text-align: center;
}

.table-list{
  background-color: #f9ffff;
  padding: 10px;
  box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.75);
}
.table-list-item{
  display: grid;
  grid-template-columns: 100px auto 100px 100px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  padding: 3px 5px;
  margin-bottom: 5px;
}

/* BUTTONS */

button[type="submit"],
button[type="reset"],
button[type="edit"],
button[type="delete"]{
  border-radius: 3px;
  border: 0;
  padding: 7px;
  color: #3c3c3c;
  width: 70px;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
button[type="edit"]:hover,
button[type="delete"]:hover{
  transition: all .4s ease;
  cursor: pointer;
}

/* submit */
button[type="submit"]{
  background-color: #3ec487;
}
button[type="submit"]:hover{
  background-color: #3ab87f;
}
/* reset */
button[type="reset"]{
  background-color: #ffdc7d;
}
button[type="reset"]:hover{
  background-color: #eece76;
}
/* edit */
button[type="edit"]{
  background-color: #7cbef4;
}
button[type="edit"]:hover{
  background-color: #71aedf;
}
/* delete */
button[type="delete"]{
  background-color: #f56c87;
}
button[type="delete"]:hover{
  background-color: #dc6079;
}
/* =========== MARGENES ====== */
.mt-3 {
  margin-top: 30px;
}
.mb-3 {
  margin-bottom: 30px!important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg-secundario); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-principal); 
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-principal-hover); 
}
.hidden {
  display: none !important;
}