@import url("./../utils/main.css");
@import url("./responsive.css");

.html-panel {
  background: rgb(174, 238, 219);
  background: radial-gradient(
    circle,
    rgba(174, 238, 219, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.main-panel {
  padding: 10px;
}
.content-panel {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
}
.menu {
  background-color: #956678;
}
.menu ul {
  margin: 7px;
  margin-top: 20px;
  padding: 0px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  display: block;
  padding: 5px;
  padding-left: 20px;
  color: #f4f4f4;
  text-decoration: none;
}
.menu ul li:hover a {
  background-color: #9e7484;
  transition: all 0.4s ease;
}
.menu .profile {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 0px;
  margin: 0px auto;
  margin-top: 20px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
}
.menu .profile img {
  max-width: 50px;
  height: 50px;
  border-radius: 100%;
}
.menu .profile .profile-title {
  font-weight: bold;
  color: #e9e9a8;
}
.menu .profile .profile-status {
  color: #d2d0d0;
}
.menu .profile .profile-status::before {
  content: "\2022";
  color: #4ccd55;
  font-weight: bold;
  display: inline-block;
  margin: 0px 3px;
}

/* //////////////// PANEL //////////// */
.panel {
  background-color: #f4f4f4;
  padding: 10px;
}
.panel .panel-box {
  background-color: #f9ffff;
  padding: 10px;
  box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.75);
}
.panel .panel-box .panel-box-title {
  margin: 10px 0;
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 20px;
}
.panel .panel-box .panel-box-title .subtitle {
  margin-top: 5px;
  display: block;
  font-size: 16px;
  font-weight: initial;
}

.panel .panel-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.panel-box {
  background-color: #f9ffff;
  padding: 10px;
  box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.75);
}
.credit-profile {
  position: relative;
}
.credit-profile .banner {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 95px;
  margin-bottom: 10%;
}
.credit-profile .avatar {
  width: 130px;
  border: 3px solid #fff;
  position: absolute;
  z-index: 11;
  left: 5%;
  top: 5%;
  border-radius: 100%;
}
/* Form */
.checkButton {
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
}
.checkButton input[type="checkbox"],
.checkButton input[type="radio"] {
  margin-bottom: 0px;
}

.add-element {
  background-image: url("./../../img/plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.notification {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-family: Quicksand;
  background-color: #fff;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}
.notification progress {
  width: 100%;
}

.profile-estudiante {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 64px auto;
  gap: 20px;
  box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.75);
  padding-bottom: 10px;
}
.profile-estudiante ul {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
}

.coffe {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}
.coffe img {
  object-fit: cover;
  height: 150px;
}
