@import url("./utils/main.css");
@import url("./responsive.css");

body,
html {
  position: relative;
}

.content-modal.active {
  display: block;
}
.content-modal {
  display: none;
  background-color: #00000047;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.content-modal .modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  padding-top: 50px;
  border: 1px solid;
  border-radius: 10px;
  max-width: 350px;
  margin: 20vh auto;
}

.content-modal .modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* 
  ////////////////// HEADER /////////////////
*/
.header {
  background-color: var(--bg-principal);
}
.header .img-princ {
  width: 270px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu-list {
  /* ul */
  text-align: center;
}
.menu-list .menu-item {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}
.menu-list .menu-item a {
  /* li */
  color: #f0f0f0;
  text-decoration: none;
}
.menu-list .menu-item.bedelia a {
  /* li.bedelia */
  color: orange;
}
/* 
  ////////////////// FOOTER /////////////////
*/
.footer {
  background-color: var(--bg-principal);
  color: #fff;
}

/* 
  ////////////////// FACEBOOK /////////////////
*/
.grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px;
}
.logo-face h1 {
  background-color: rgb(0, 136, 255);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 65px Arial, Helvetica, sans-serif;
  height: 60px;
  margin-top: 1px;
  text-align: center;
  width: 60px;
}

/* 
  ////////////////// INSTAGRAM /////////////////
*/
.logo-instagram {
  height: 60px;
  width: 60px;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 30%;
  position: relative;
  cursor: pointer;
  margin-top: 1px;
}
.logo-instagram:before {
  content: "";
  border: 3px solid #fff;
  border-radius: 30%;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.logo-instagram:after {
  content: "";
  border: 3px solid #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.punto {
  content: "";
  border: 3px solid #fff;
  border-radius: 100%;
  width: 0;
  height: 0;
  right: 15px;
  position: absolute;
  margin: auto;
  top: 15px;
}
/* 
  ////////////////// YOUTUBE /////////////////
*/
.logo-youtube {
  width: 60px;
  height: 60px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60% / 9%;
  cursor: pointer;
}
.triangulo {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 20px solid white;
  transform: rotate(90deg);
}
/* 
  ////////////////// CONTACTO /////////////////
*/

.contact {
  color: var(--bg-secundario);
  padding-inline-start: 20%;
  font-size: 20px;
}
.date {
  display: grid;
  grid-template-columns: auto auto;
  padding-inline-start: 20%;
}
.date-uno h2 {
  color: var(--bg-secundario);
  font-size: 20px;
}
.date-uno a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.date-dos h2 {
  color: var(--bg-secundario);
  font-size: 20px;
}
.date-dos a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.container {
  padding-inline-start: 25%;
  display: flexbox;
  text-align: left;
  vertical-align: top;
}



.table-contact {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow-y: scroll;
  height: 300px;
}

.table-contact th {
  width: 1%;
  background-color: #daf5ff;
}
.table-contact td {
  padding-left: 10px;
}
.table-contact .name {
  background-color: #daf5ff;
}
.table-contact .numero {
  background-color: #daf5ff;
}
/* 
  ////////////////// CARRERAS /////////////////
*/
.post-carrera {
  background-color: #f2f9fc;
  position: relative;
  width: 200px;
  height: 150px;
  text-align: center;
  border: 1px solid var(--bg-principal);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  border-radius: 7px;
}
.post-carrera h3 {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 10px;
}
.post-carrera-items {
  border-radius: 0 0 7px 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2a2a4e;
  color: #daf5ff;
  gap: 3px;
  padding: 5px;
  justify-content: space-between;
  text-transform: capitalize;
}
/* 
  ////////////////// INSTITUCION /////////////////
*/
.page-title {
  text-align: center;
  font-size: 20px;
}
.mision-valor {
  max-width: 80%;
  margin: 10px auto;
}
.mision-valor h1 {
  color: var(--bg-secundario);
  text-align: center;
}
.mision-valor h2 {
  color: var(--bg-secundario);
}
.mision-valor p {
  text-align: justify;
}

.valores {
  border: 3px solid var(--bg-principal);
  background-color: #f8fafb;
  border-radius: 10px 0px 0px 10px;
}
.mision {
  background-color: var(--bg-principal);
  color: #f0f0f0;
  border-radius: 0px 10px 10px 0px;
}
.valores,
.mision {
  padding: 20px;
}
.mision-valor h1,
.mision-valor h2 {
  font-size: 20px;
}
.mision-valor ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.mision-valor ul li {
  list-style: none;
}
.mision-valor ul li::before {
  content: "\2022";
  color: var(--bg-secundario);
  font-weight: bold;
  display: inline-block;
  margin: 0px 7px;
}
/* 
  ////////////////// PORTADA /////////////////
*/
.portada {
  height: 70%;
  width: 99.9%;
  position: relative;
}
.btn_left,
.btn_right {
  position: absolute;
  background-image: url("./../img/arrow.png");
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-position: center;
  background-color: transparent;
  filter: invert(1);
  border: 0;
  opacity: 0.75;
  top: 45%;
  border-radius: 100%;
  cursor: pointer;
}
.btn_left {
  left: 10px;
  rotate: 180deg;
}
.btn_right {
  right: 10px;
}
.fcad {
  height: 10%;
  width: 99.9%;
}
.columnas {
  text-align: center;
}
/* Columnas de 4 */
.loop-post {
  padding-bottom: 5px;
  box-shadow: -5px 4px 14px -6px rgba(0, 0, 0, 0.25);
}
.loop-post img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 150px;
  /* border-radius: 3px; */
}
.loop-post h2 {
  padding: 5px;
  margin: 0;
  font-size: 20px;
  text-align: left;
}
.loop-post p {
  padding: 5px;
  margin: 0;
  text-align: justify;
}
.loop-post a {
  margin-left: 5px;
  background-color: #2a2a4e;
  padding: 5px 7px;
  margin-top: 10px;
  width: 67px;
  text-align: center;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

/* ========BANNER ==== */

.portada .slide {
  position: relative;
}
.portada .slide a {
  color: #fff;
  text-shadow: 1px 1px 5px black;
  font-size: 20px;
}
.portada .slide img {
  object-fit: cover;
  object-position: center;
  height: 400px;
}
.portada p {
  position: absolute;
  top: 45%;
  max-width: 80%;
  margin:  0 auto;
  left: 0;
  right: 0;
}

.single-news iframe{
  width: 100%;
}
.single-news img{
  max-width: 100%;
}
